body{
    background-color: #fcdab7;
  }


  h3{
      color: #66BFBF;
  }
  
  img {
  border-radius: 50%;
}

  hr{
    background-color: white;
    border-style: none;
    height: 2px;
    width: 100%;
  }
